.container{
    display:flex;
    flex-direction: column;
    
    width: 500px;
    margin: auto;
    margin-top: 30px;
    background:white;
    border-radius: 12px;
    box-shadow: 0 0 50px;
    margin-right: 500px;
    margin-bottom: 250px;
}
.header{
     display: flex;
     flex-direction: column;
     align-items: center;
     gap:9px;
     width:100%;
     margin-top: 30px;

}

.text
{
    font-size: 48px;
    font-weight:400;
    color: brown;
}
.underline
{
    width: 61px;
    height: 6px;
    background-color: brown;
    border-radius: 9px;
    gap:25px;
}
.inputs
{
 margin-top: 55px;
 display: flex;
 flex-direction: column;
 gap:25px;

}
.input{
   display: flex;
   align-items: center;
   margin: auto;
   width: 400px;
   height: 80px;
   background: #eaeaea;
   border-radius: 6px;
}
.input img{
   
    margin-right: 20px;
    margin-left: 20px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 19px;
}

.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: black;
    font-size: 18px;
}
.forgot-password span{
    color: brown;
    cursor:pointer;
}
.submit-container{
    display: flex;
    justify-content: center;
    gap:30px;
    margin:60px auto;
}
.submit{
    
    display: flex;
    justify-content: center;
    align-items: center;
   width:220px;
   height: 59px;
   background-color:maroon;
   color: #fff;
   border-radius: 50px;
   font-size: 19px;
   font-weight: 700;
   cursor: pointer;
}
.gray{
    background: #eaeaea;
    color:black;
}
