.two{
    margin-left: 70px;
}
.three{
    margin-left: 70px;
}
.four{
    margin-left: 70px;
}
.container2{
   
    display: flex;
    margin-top: 50px;
    
}
.container1{
    display: flex;
}
.six{
    margin-left: 187px;
}
.seven{
    margin-left: 187px;
}
.eight{
    margin-left: 187px;
}
.five{
    margin-left: 70px;
}
